<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocalTestCap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TestCap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestCapTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16CD6EA720817C3B0077FE1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CD6EBB20817C3C0077FE1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CD6F052081C9BD0077FE1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CD6F252081D8A10077FE1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CD6F422081DA220077FE1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CD6F6F2082B7300077FE1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
